{% extends '::base.html.twig' %}

{% block body %}


<div class="center-box">
    <div class="container" >
        <div class="row">
            <h2 style="text-align:center">Положение о Школе ИКТ Стартапов ГУАП (GUAP IT Start Up School)</h2>

            <ol>
                <li> Общие сведения и цели проведения </li>
                <p> Настоящее Положение «О Школе ИКТ Стартапов ГУАП (GUAP IT Start Up School)» (далее — Положение) регулирует порядок организации и проведения Школы ИКТ Стартапов ГУАП (GUAP IT Start Up School) (далее - Школа), включая Соревнование инновационных мобильных приложений и интернет-решений и Конкурс на разработку новой айдентики ГУАП. </p>
                <p> Школа включает в себя: </p>
                <p style="padding:20px">
                    1.	Соревнование инновационных мобильных приложений и интернет-решений (далее - Соревнование).</br>
                    2.	Конкурс на разработку новой айдентики ГУАП (далее - Конкурс).</br>
                    3.	Профессиональные лекции, тренинги и семинары (далее - Лекции).
                </p>
                </p> Школа проводится для студентов российских высших учебных заведений.</p>

                <p> Цели проведения Школы: </p>
                <p style="padding:20px">
                    - Подготовка студентов к ведению собственного бизнеса в сфере ИКТ.</br>
                    - Поиск перспективных идей для дальнейшего развития и поиска инвестиций.</br>
                    - Разработка инновационных мобильных приложений и интернет решений.</br>
                    - Развитие у студентов навыков современной разработки приложений и интернет решений.</br>
                    - Развитие у студентов навыков командной работы.</br>
                    - Вовлечение студентов в инновационную предпринимательскую деятельность.</br>
                    - Развитие творческого потенциала студентов.</br>
                    - Поиск нового взгляда на фирменный стиль ГУАП.</br>
                </p>
                <li> Термины </li>
                <p> Далее по тексту Положения используются следующие термины:</p>
                <dl>
                    <dt> СОРЕВНОВАНИЕ </dt>
                    <dd>
                        - соревнование инновационных мобильных приложений и интернет решений в рамках Школы, проводимое Организатором совместно с Партнерами в соответствии с настоящим Положением.
                    </dd>
                    </br>
                    <dt>КОНКУРС </dt>
                    <dd>
                        - конкурс на разработку новой айдентики ГУАП, включающей в себя разработку логотипа, официальных цветов, шаблонов для презентаций, визиток и интернет-ресурсов для ГУАП в общем и для отдельных Институтов и Факультетов ГУАП в частности.
                    </dd>
                    </br>
                    <dt>ЖЮРИ</dt>
                    <dd>
                        - группа лиц, осуществляющая профессиональную оценку проектов, представленных на Соревнование и Конкурс, а также определяющая победителей.
                    </dd>
                    </br>
                    <dt>УЧАСТНИК</dt>
                    <dd>
                        - дееспособное и правоспособное физическое лицо, действующее от своего имени, зарегистрировавшееся на официальном сайте Школы для участия в Соревновании или Конкурсе.
                    </dd>
                    </br>
                    <dt>КОМАНДА</dt>
                    <dd>
                        - группа Участников, в количестве от одного до пяти человек, объединившихся для выполнения проекта для представления на Соревнование или Конкурс. Каждый Участник может входить в состав только одной Команды в рамках одного конкурсного состязания. У Команды желательно наличие Руководителя. Процедура приглашения в команду будет реализована на официальном сайте Школы.
                    </dd>
                    </br>
                    <dt>РУКОВОДИТЕЛЬ КОМАНДЫ</dt>
                    <dd>
                        - участник Команды, координирующий деятельность остальных участников команды, определяющий роли и задачи каждого участника в течение всего срока реализации проекта. Руководитель команды отвечает за реализацию проекта в соответствии с требованиями, установленными настоящим Положением. В ходе сдачи проекта Руководитель проводит очную презентацию реализованного проекта членам Жюри.
                    </dd>
                    </br>
                    <dt>ПРОЕКТ</dt>
                    <dd>
                        - идея мобильного приложения, интернет решения или айдентики ГУАП, которая регистрируется на официальном сайте Школы. Название проекта является открытой информацией, а описание до его официального представления Командой будет доступно на официальном сайте Школы только участникам команды и организационному комитету. Для Конкурса описание проекта не является обязательным.
                    </dd>
                    </br>
                    <dt>РЕЗУЛЬТАТ</dt>
                    <dd>
                        - исходники, техническая документация и другие материалы, направленные Жюри зарегистрированной Командой для рассмотрения в рамках Соревнования и (или) Конкурса в предусмотренный настоящим Положением для этого срок.
                    </dd>
                    </br>
                    <dt>ЗАЯВКА НА УЧАСТИЕ</dt>
                    <dd>
                        - заявка на участие команды в Соревновании и Конкурсе, оформленная в соответствии с настоящим Положением и поданная на официальном сайте Школы не позднее даты окончания приема заявок, определенной настоящим Положением. Команды, не подавшие заявку на участие, не могут считаться Участниками.
                    </dd>
                    </br>
                    <dt>ЗАЯВКА НА ИТОГОВУЮ ПРЕЗЕНТАЦИЮ ПРОЕКТА</dt>
                    <dd>
                        - заявка, сформированная в электронном виде в Личном кабинете участника на Официальном сайте Школы, являющаяся фактом готовности к сдаче проекта и его очному представлению перед Жюри.
                    </dd>
                    </br>
                    <dt>ПОБЕДИТЕЛЬ</dt>
                    <dd>
                        - команда, чей проект признан лучшим на основании критериев, предусмотренных настоящим Положением для оценки результатов Соревнования и Конкурса.
                    </dd>
                    </br>
                    <dt>ОФИЦИАЛЬНЫЙ САЙT</dt>
                    <dd>
                        - информационный ресурс, размещенный в сети Интернет по адресу itstartupschool.guap.ru и предназначенный для: </br>
                        публикации актуальной информации, имеющей прямое отношение к Школе; </br>
                        взаимодействия Участников между собой, с членами Жюри и Организационным комитетом. </br>
                    </dd>
                    </br>
                    <dt>ЛИЧНЫЙ КАБИНЕТ УЧАСТНИКА</dt>
                    <dd>
                        -закрытый раздел Официального сайта Школы, доступ к которому предоставляется с помощью логина и пароля, который получается каждым Участником лично во время регистрации на Официальном сайте Школы.
                    </dd>
                    </br>
                    <dt>СЛУШАТЕЛЬ</dt>
                    <dd>
                        -лицо, присутствующее на мероприятиях, проводимых в рамках Школы (для Слушателей регистрация не является обязательной).
                    </dd>
                    </br>
                    <dt>ЛЕКТОР</dt>
                    <dd>
                        -лицо, проводящее профессиональные лекции в рамках Школы.
                    </dd>
                    </br>
                </dl>
                <li> Организатор и партнеры Школы </li>
                <p>
                    3.1.	Организатором Школы является Федеральное государственное автономное образовательное учреждение высшего профессионального образования "Санкт-Петербургский государственный университет аэрокосмического приборостроения".</p>
                <p>
                    3.2.	Партнером Школы выступает Комитет по информатизации и связи г. Санкт-Петербурга.</p>
                <p>
                    3.3.	Школа проводится также при поддержке корпорации «EMC».</p>
                <p>
                    3.4.	Возможно присоединение других партнеров и спонсоров Школы во время ее заочного этапа проведения с 1 октября до 9 ноября 2014 года.</p>

                <li> Организационный комитет </li>
                <p> 4.1.	 Приказом ГУАП утверждается Организационный комитет Школы (далее – Оргкомитет). </p>
                <p> 4.2.	 В обязанности Оргкомитета Конкурса входят: </p>
                <p style="padding:20px">
                    –	утверждение сроков проведения Школы,</br>
                    –	подготовка и утверждение плана рекламной кампании,</br>
                    –	привлечение необходимых специалистов,</br>
                    –	утверждение состава Жюри,</br>
                    –	решение иных организационных и творческих вопросов.</br>
                </p>
                <li> Жюри Конкурса </li>
                <p>
                    5.1.	Состав Жюри определяется и утверждается Оргкомитетом Конкурса. </p>
                <p>
                    5.2.	В состав Жюри входят представители Организатора Школы и его партнеров, профессионалы в области ИКТ, дизайнеры, инвесторы, прочие приглашенные лица, чье участие в составе Жюри по решению Оргкомитета желательно. </p>
                <p>
                    5.3.	Решение Жюри по определению победителей в конкурсных состязаниях Школы является окончательным и пересмотру не подлежит. </p>
                <li> Участники и гости Школы  </li>
                <p>6.1.	В конкурсных состязаниях, проводимых в рамках Школы, могут принимать участие студенты российских ВУЗов, зарегистрировавшееся на официальном сайте Школы, которые формируют Команды, путем заполнения данных Заявки на участие (Приложение 3 к настоящему Положению). </p>
                <p>6.2.	 Команда может состоять от одного до пяти участников, объединившихся для выполнения проекта для представления на конкурсных состязаниях, проводимых в рамках Школы. Каждый Участник может входить в состав только одной Команды в рамках одного конкурсного состязания. У Команды желательно наличие Руководителя. Процедура приглашения в команду будет реализована на официальном сайте Школы.</p>
                <p>
                    6.3.	 Руководитель команды отвечает за реализацию проекта в соответствии с требованиями, установленными настоящим Положением. В ходе сдачи проекта Руководитель проводит очную презентацию реализованного проекта членам Жюри. При решении представления проекта к итоговой презентации Руководитель заполняет заявку на итоговую презентацию проекта на Официальном сайте Школы. Шаблон заявки на итоговую презентацию проекта приведен в Приложении 4 к настоящему Положению.</p>
                <p>
                    6.4.	 Для присутствия на Лекциях, организуемых в рамках Школы, регистрация не требуется.</p>
                <li> Сроки проведения Школы </li>
                <p>7.1.	Школа проводится с 1 октября по 14 ноября 2014 года. </p>
                <p>
                    7.2.	Сроки проведения Соревнования - с 1 октября по 14 ноября 2014 года. Более подробная информация о сроках проведения Соревнований представлена в Правилах проведения Соревнований инновационных мобильных приложений и интернет-решений в рамках Школы ИКТ Стартапов ГУАП (GUAP IT Start Up School) (Приложение 1 к настоящему Положению).</p>
                <p>
                    7.3.	Сроки проведения Конкурса - с 1 октября по 14 ноября 2014 года. Более подробная информация о сроках проведения Конкурса представлена в Правилах проведения Конкурса на разработку новой айдентики ГУАП в рамках Школы ИКТ Стартапов ГУАП (GUAP IT Start Up School) (Приложение 2 к настоящему Положению).</p>
                <p>
                    7.4.	С 11 по 13 ноября 2014 года в рамках Школы пройдут открытые лекции профессионалов в области организации собственного бизнеса в ИКТ сфере, сфере дизайна и разработки мобильных приложений и интернет решений. Посещение лекций свободное.</p>
                <li> Правила проведения конкурсных мероприятий Школы </li>
                <p> 8.1. 	Задания на участие в Соревновании, правила участия, требования к проектам и результатам, порядок сдачи работ, а также порядок и критерии оценки работ описано в Правилах проведения Соревнований инновационных мобильных приложений и интернет-решений в рамках Школы ИКТ Стартапов ГУАП (GUAP IT Start Up School) (Приложение 1 к настоящему Положению).</p>
                <p> 8.2.	Задания на участие в Конкурсе, правила участия, требования к проектам и результатам, порядок сдачи работ, а также порядок и критерии оценки работ описано в Правилах проведения Конкурса на разработку новой айдентики ГУАП в рамках Школы ИКТ Стартапов ГУАП (GUAP IT Start Up School) (Приложение 2 к настоящему Положению).</p>
                <li> Подведение итогов и призы </li>
                <p>9.1.	 Победители, занявшие призовые места, получат ценные призы от организаторов и компаний-партнеров.</p>
                <p>9.2.	 Информация о победителях будет размещена на Официальном сайте Школы.</p>
                <p>9.3.	 Партнеры Соревнования могут дополнительно объявить свои номинации, которые будут поощряться дополнительно.</p>
                <p>9.4.	 Наиболее интересные проекты Участников, не удостоенные призовых мест, могут быть дополнительно рассмотрены Организатором и Партнерами с целью возможного дальнейшего сотрудничества и развития проекта.</p>

            </ol>
        </div>
    </div>
</div>

{% endblock %}