<!DOCTYPE html>

<html lang="en">

<head>

<title>Home</title>

<meta charset="utf-8"> 
<style>
	@font-face{
		font-family:agenfbcyr;
		src:url('fonts/agenfbcyr.ttf');
	}
</style>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="icon" href="img/favicon.ico" type="image/x-icon">

<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />

<meta name="description" content="Your description">

<meta name="keywords" content="Your keywords">

<meta name="author" content="Your name">

<meta name = "format-detection" content = "telephone=no" />

<!--CSS-->

<link rel="stylesheet" href="css/bootstrap.css" >
<link rel="stylesheet" href="css/contact-form.css">
<link rel="stylesheet" href="css/style.css">

<!--JS-->

<!--[if lt IE 9]>

    <div style='text-align:center'><a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode"><img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." /></a></div>  

  <![endif]-->

  <!--[if lt IE 9]><script src="../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->



  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

  <!--[if lt IE 9]>

    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>

    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>

  <![endif]-->

</head>

<body>

<!--header-->

<header>
    <div class="hed" style="min-height:50px; padding:30px 50px; position:relative">
        <a href="/" style="float:left"><img src="img/logo.png" alt="" width="200"></a>
        <a href="/" style="float:right"><img src="img/data.png" alt="" width="200"></a>
        <div style="text-align:center">
            <a href="/"><img src="img/lk.png" alt="" width="300"></a>
        </div>
    </div>
	<img src="img/line-bg01.png" width="100%">
</header>

<div class="slider">
	<img src="img/ban1.png" width="100%">
</div>

<div class="center-box">
	<div class="container">
    	<div class="row">
        	<div class="col-lg-6 col-md-6 col-sm-6">
				<h2>Кто?</h2>
                    <div class="thumb-pad1">
                        <div class="thumbnail">
							<p>Если ты студент любого российского ВУЗа и у тебя есть классная идея для мобильного приложения, веб решения или нового фирменного стиля ГУАП, или ты уверенный программист или дизайнер, или тебе просто интересно как правильно начать собственный бизнес в ИКТ сфере - это событие для тебя!</p>
                        </div>
                    </div>
                    
                <h2>Зачем?</h2>
                    <div class="thumb-pad1">
                        <div class="thumbnail">
							<p>Новые знакомства, свежие идеи, призы, признание, а также возможность создать что-то особенное.</p>
						</div>
                    </div>
             </div>
             <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="row">
                        <div class="col-lg-11 col-md-12 col-sm-12 col-lg-offset-1">
                  			<h2>Что?</h2>
                    		<div class="thumb-pad1">
                        		<div class="thumbnail">
									<p>Школа ИКТ Стартапов ГУАП включает в себя множество мероприятий:</p>
									<p>1.	Профессиональные лекции, тренинги и семинары посвященный развитию стартапов, созданию собственного бизнеса, а также дизайну, мобильной и веб разработке.</p>
									<p>2. Соревнование инновационных мобильных приложений и интернет-решений.</p>
									<p>3.	Конкурс на разработку нового айдентики (фирменного стиля) ГУАП (или отдельных его факультетов и институтов). 
</p>                          
                      		 	</div>
                        	</div>
                       </div>
                    </div>
             </div>
             <a href="#" class="btn-default btn2" style="text-align:center; margin-left:-60px;">Подробнее</a>
        </div>
    </div>
</div>

<div class="offers-box indent">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Мероприятия</h2>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="thumb-pad2">
                                <div class="thumbnail">
                                    <figure><img src="img/page1_symbol1.png" alt=""></figure>
                                    <div class="caption">
                                        <p class="title1">Соревнование инновационных мобильных приложений и интернет-решений</p>
                                 
                                    </div>
                                    <p>Соревнование направлено на выявление перспективных идей для дальнейшего развития и поиска инвестиций, вовлечение студентов в инновационную предпринимательскую деятельность.</p>
                                </div>
                            </div>
                            <a href="#" class="btn-default btn2">Подробнее</a>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="thumb-pad2">
                                <div class="thumbnail">
                                    <figure><img src="img/page1_symbol2.png" alt=""></figure>
                                    <div class="caption">
                                        <p class="title1">Конкурс на разработку новой айдентики ГУАП</p>
                                    </div>
                                    <p>Новые времена требуют нового взгляда на фирменный стиль ГУАП. Предложить новый стиль ГУАП может любой желающий. Победитель конкурса примет участие в ребрендинге ГУАП и так же получит специальный приз от ГУАП.</p>
                                </div>
                            </div>
                            <a href="#" class="btn-default btn2">Подробнее</a>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="thumb-pad2">
                                <div class="thumbnail">
                                    <figure><img src="img/page1_symbol3.png" alt=""></figure>
                                    <div class="caption">
                                        <p class="title1">Профессиональные лекции, тренинги и семинары </p>
                                        
                                    </div>
                                    <p>Лекции проведут, представители различных IT компаний. Посвящены  они будут развитию стартапов, созданию собственного бизнеса, а также дизайну, мобильной и веб разработке.</p>
                                </div>
                            </div>
                            <a href="#" class="btn-default btn2">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!--footer-->

<footer>

    <div class="container">

        <div class="row">

            <div class="col-lg-12">

                <p>&copy; <em id="copyright-year"></em> <a href="http://guap.ru">ГУАП</a></p>

            </div>
            <div style="text-align:left; padding:0 50px">
            	<a href="#" style="display:inline-block; margin:0 20px">Положение о конкурсе</a>
                <a href="#">Контакты</a>
            </div>

        </div>

        <div class="top-box"></div>

    </div>

  <!-- {%FOOTER_LINK} -->

</footer>
<div class="back-in" style="display: block;"></div>
</body>

</html>