{% extends '::base.html.twig' %}

{% block body %}

    <div class="center-box">
	<div class="container" >
    	<div class="row">
					<h2 style="text-align:center">Правила проведения Соревнований инновационных мобильных приложений и интернет-решений в рамках Школы ИКТ Стартапов ГУАП (GUAP IT Start Up School)</h2>

					<ol>
						<li> Общие положения </li> </br>
						<p> Соревнование инновационных мобильных приложений и интернет-решений (далее - Соревнование) проводится в рамках Школы ИКТ Стартапов ГУАП (GUAP IT Start Up School). </p> 
						
						<li> Сроки проведения</li> </br>
							<p> 2.1. 	Регистрация Участников и Проектов проводится на Официальном сайте Школы с 1 по 19 октября 2014 года. </p>
							<p> 2.2.	Формирование команд для реализации зарегистрированных проектов будет доступно на Официальном сайте Школы с 1 по 9 октября 2014 года. </p>
							<p> 2.3.	Для реализации зарегистрированных проектов Командам дается время с момента регистрации проекта на официальном сайте Школы до 9 ноября 2014 года. </p>
							<p> 2.4.	10 ноября 2014 в рамках открытия Школы будет организовано представление реализованных проектов Командами. 10 ноября 2014 года команды должны передать Организационному комитету Результаты реализации проектов. </p>
							<p> 2.5.	С 10 по 13 ноября 2014 года Команды могут доработать представленные проекты перед итоговой презентацией. При изменении исходников проекта перед итоговой презентацией командам необходимо передать новые Результаты Организационному комитету. </p>
							<p> 2.6.	На Официальном сайте Школы с 11 по 13 ноября 2014 года будут выставлены проекты, представленные 10 ноября 2014 года для проведения Онлайн голосования. </p>
							<p> 2.7.	По результатам представления проекта и проведенной доработке Команда принимает решение о желании участвовать в итоговой презентации. Все заявки на итоговую презентацию проектов должны быть заполнены на Официальном сайте Школы до 12 ноября 2014 года включительно.</p>
							<p> 2.8.	При превышении количества заявок на итоговую презентацию проектов в рамках Соревнования двадцати, организационный комитет в праве провести заочный полуфинал, на котором выберет лучшие проекты для представления на итоговой презентации проектов Соревнования.  </p>
							<p> 2.9.	Публикация списка Команд, допущенных до очной презентации проектов состоится 13 ноября 2014 года. </p>
							<p> 2.10.	Очная презентация проектов состоится 14 ноября 2014 года. </p>
							<p> 2.11.	Торжественная церемония награждения победителей состоится 14 ноября 2014 года. </p>
						 
						<li> Задание </li> </br>
							<p> 3.1.	 В ходе Соревнования команде необходимо разработать инновационное мобильное приложение или интернет решение (его прототип, с возможностью доработки каких-то функций позднее), являющееся перспективной бизнес-идеей, включающее в себя: </p>
							<p style="padding-left:20px">
								a.	Структуру базы данных, необходимой для хранения данных, применяемых в мобильном приложении. </br>
								b.	Серверное приложение. </br>
								c.	Мобильное приложение на платформах Android, iOS, Windows Phone или Windows для планшетных устройств; </br>
								d.	Уникальная иконка мобильного приложения; </br>
								e.	Техническая документация. </br>
							</p>
							<p> 3.2.	 Язык программирования для серверного приложения - любой, в том числе могут применяться любые наборы открытых библиотек. </p>
							<p> 3.3.	Требования к мобильным приложениям:
								<p style="padding-left:20px">
								3.3.1.	Язык программирования - любой, в том числе могут применяться любые наборы открытых библиотек. </br>
								3.3.2.	Требования к поддерживаемым платформам: </br>
								</p>
								<p style="padding-left:40px">
								a.	Android. Минимальная поддерживаемся версия 3; </br>
								b.	iOS. Минимальная поддерживаемся версия 6; </br>
								c.	Windows Phone. Минимальная поддерживаемся версия 7.1; </br>
								d.	Windows для планшетных устройств. Минимальная поддерживаемая версия 8.1. </br>
								e.	Разработка мультиплатформенного приложения или нескольких приложений под различные платформы будет приветствоваться, но не является обязательным требованием. </br>
								</p>
								3.3.3.	Должна быть обеспечена корректная работа в горизонтальном (портретном) режиме. </br>
							</p>
							<p> 3.4.	Техническая документация обязательно и минимально должна включать:
								<p style="padding-left:20px">
								a.	описание формата взаимодействия с сервисами серверного приложения; </br>
								b.	описание структуры базы данных; </br>
								c.	описание архитектуры всего проекта. </br>
								</p>
							</p>
							<p> 3.5.	 Разработка полноценной технической документации проекта в соответствии с ГОСТ 34 будет преимуществом при оценке работ. </p>
						
						<li> Требования к результатам </li> </br>
						<p> Результатом успешно выполненного проекта Соревнования является: </p>
						<p> 4.1.	 Работоспособное техническое решение, реализующее задание. </p>
						<p> 4.2.	 Подготовленная техническая документация согласно заданию. </p>
						<p> 4.3.	 Сформированная на Официальном сайте соревнования Заявка на итоговую презентацию проекта. </p>
						<p> 4.4.	 Публикация мобильного приложения в магазинах приложений не требуется. </p>
						<p> 4.5.	 Права на интеллектуальную собственность на реализованные проекты принадлежат разработчикам. </p>
						
						<li> Порядок сдачи работ Соревнования </li> </br>
						<p> 5.1.	На конкурс принимаются проекты, соответствующие всем требованиям к результатам проекта. </p>
						<p> 5.2.	Фактом окончания выполнения задания является заявка на итоговую презентацию проекта, сформированная в Личном кабинете на Официальном сайте. </p>
						<p> 5.3.	 Заявка на сдачу проекта должна быть сформирована не позднее даты, определенной настоящим Положением. </p>
						<p> 5.4.	 Заявка на сдачу проекта содержит следующую информацию:</br>
								<p style="padding-left:20px">
								a.	название проекта;</br>
								b.	краткое описание проекта (не более 300 символов);</br>
								c.	задача, решаемая мобильным приложением или интернет решением и перспектива их коммерциализации;</br>
								d.	целевая аудитория;</br>
								e.	архитектурная схема проекта;</br>
								f.	технологии и платформы, применяемые в проекте (для проектов, участвующих в Соревновании).</br>
								</p>
						</p>
						<p> 5.5.	Требования к исходникам проектов, участвующих в Соревновании </br>
								<p style="padding-left:20px">
								a.	Мобильное приложение должно быть загружено в Личном кабинете участника или передано лично Организационному комитету в день представления проектов в составе дистрибутива, исходных кодов, описания конфигурации проекта и иных файлов и данных, необходимых для запуска и анализа приложения членами Жюри.</br>
								b.	Заявка может сопровождаться презентацией проекта в формате MS PowerPoint или PDF. Презентация может быть загружена через Личный кабинет непосредственно перед первичным представлением проектов и обновлена перед итоговой презентацией.</br>
								</p>
						</p>
						
						<li> Порядок и критерии оценки результатов </li> </br>
						<p> 6.1.	Отбор Заявок по формальным критериям.</br>
								<p style="padding-left:20px">
								6.1.1.	Оценка по формальным критериям проводится Организационным комитетом с точки зрения их соответствия целям и Правилам проведения Соревнования, а также достоверности сведений, представленных в Заявке на сдачу проекта.</br>
								6.1.2.	На Официальном сайте Школы будет представлена актуальная информация о заявках, прошедших отбор по формальным признакам.</br>
								</p>
						</p>
						<p> 6.2.	Оценка проектов Жюри.</br>
								<p style="padding-left:20px">
								6.2.1.	Члены Жюри выполняют оценку проектов, прошедших отбор по формальным признакам, с точки зрения их соответствия техническим требованиям, полноты разработки и уровню представленных материалов, а также перспективности и возможности коммерциализации представленного проекта.</br>
								6.2.2.	К итоговой презентации проектов будут допущены максимум 20 Команд.</br>
								6.2.3.	Список Команд, допущенных к итоговой презентации проектов, будет опубликован на Официальном сайте 13 ноября 2014 года не позднее 18:00 по Московскому времени.</br>
								</p>
						</p>
						<p> 6.3.	Оценка итоговой презентации проектов Жюри.</br>
								<p style="padding-left:20px">
								6.3.1.	Итоговая презентация проектов состоится 14 ноября 2014 года. Подробная информация о месте и времени проведения будет размещена на Официальном сайте.</br>
								6.3.2.	Руководитель команды, либо избранный Участник лично презентует реализованный проект. Длительность презентации – максимум 10 минут.</br>
								6.3.3.	Основные моменты, на которые необходимо обратить внимание в ходе очной презентации проекта:</br>
								</p>
								<p style="padding-left:40px">
								a.	значимость проекта;</br>
								b.	коммерческий потенциал;</br>
								c.	целевая аудитория проекта;</br>
								d.	примененные технологические решения;</br>
								e.	живая демонстрация проекта;</br>
								f.	удобство и качество интерфейса;</br>
								g.	проблемы, с которыми пришлось столкнуться и пути их решения.</br>
								</p>
								<p style="padding-left:20px">
								6.3.4.	Жюри выполняет оценку презентаций проектов Соревнование исходя из двух номинации: Дизайн и Инновационная идея и определяет победителей в этих номинациях.</br>
								</p>
						</p>
						<p> 6.4.	 Предпочтение отдаётся проектам, в которых максимальное внимание уделено:</br>
								<p style="padding-left:20px">
								6.4.1.	функциональности</br>
								6.4.2.	оригинальности идеи</br>
								6.4.3.	скорости работы реализованного проекта (для проектов, участвующих в соревновании)</br>
								6.4.4.	usability</br>
								6.4.5.	бизнес-составляющей и возможностям монетизации (для проектов, участвующих в соревновании)</br>
								6.4.6.	проработке мелочей.</br>
								</p>
						</p>
						
					</ol>	  	
                      </div>
    </div>
</div>

{% endblock %}